<header class="navbar navbar-inverse navbar-static-top">
  <div class="container">
    <div class="navbar-header">
    	<i class="fa fa-twitter fa-2x"></i>
      <%= link_to "Twitter Clone", root_path, class: "navbar-brand" %>
    </div>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? %>
        
	        <li>
	          <%= link_to current_user.email, profile_path(current_user) %>
	        </li>
	        <li>
	          <%= link_to "Sign Out", destroy_user_session_path, method: "DELETE" %>
	        </li>
	 
        <% else %>
	 
	        <li>
	          <%= link_to "Log In", new_user_session_path %>
	        </li>
	        <li>
	          <%= link_to "Sign Up", new_user_registration_path %>
	        </li>
 
        <% end %>
      </ul>
    </nav>
  </div>
</header>